.quotation-table{
	margin: 0 auto;
}
.quotation-table input[type="text"] {
    border: 1px solid #BEBEBE;
    border-radius: 3px;
}
.field{
	width: 100%;
}
.input-bg{
	background-color: #DCDCDC;
}
.label-sold{
	background-color: #dc8e90;
}
.label-block{
	background-color: #e1e1e1;
}
.label-available{
	background-color: #83cba5;
}
.status-text{
	color: #000;
    font-weight: bold;
}
.gen-bottom{
	margin-bottom:  30px;
}
